@{
    ViewData["Title"] = "Index";
}

<partial name="_Notification" />

<div class="=" container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary"> History List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="History" asp-action="InsertUpdate" class="btn btn-primary">
                <i class="bi bi-clipboard-plus"></i> &nbsp; Create New Patient History record
            </a>
        </div>
    </div>
    <br />
    <br />


    <table id="tblDataHistory" class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
               
                
                <th>
                    Patient ID
                </th>
                <th>
                    Patient First Name
                </th>
                <th>
                    Patient Last Name
                </th>
                <th>
                    Physician First Name
                </th>
                <th>
                    Physician Last Name
                </th>
                <th>
                    Reason
                </th>
                <th>
                    Treatment
                </th>
                <th>
                    Appointment Date
                </th>
                <th>
                    
                </th>
                
            </tr>
        </thead>


    </table>
</div>

@section Scripts{
    <script src ="~/js/history.js"></script>
}