@model AlfredHospital.Models.ViewModels.HistoryVM

<form method="post" asp-action="InsertUpdate">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">@(Model.History.Id!=0?"Update": "Create") History</h2>
			<hr />
		</div>
		<div asp-validation-summary="All"></div>
		

		<div class="mb-3">
			<label asp-for="History.PatientId"></label>
			<select asp-for="History.PatientId" asp-items="@Model.PatientList" class="form-select">
			<option disabled selected> -- Select Patient -- </option>
			</select>
			<span asp-validation-for="History.PatientId" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="History.PhysicianId"></label>
			<select asp-for="History.PhysicianId" asp-items="@Model.PhysicianList" class="form-select">
			<option disabled selected> -- Select Physician -- </option>
			</select>
			<span asp-validation-for="History.PhysicianId" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="History.Treatment"></label>
			<input asp-for="History.Treatment" class="form-control" />
			<span asp-validation-for="History.Treatment" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="History.AppointmentId"></label>
			<select asp-for="History.AppointmentId" asp-items="@Model.AppointmentList" class="form-select">
			<option disabled selected> -- Select Appointment Reason -- </option>
			</select>
			<span asp-validation-for="History.AppointmentId" class="text-danger"></span>
		</div>

<div class="col-12">
			@if (Model.History.Id != 0)
			{

		<button type="submit" class="btn btn-primary" style="width:200px">Update</button>
		
	}
	else
	{
				<button type="submit" class="btn btn-primary" style="width:200px">Create</button>

	}
			<a asp-controller="History" asp-action="Index" class="btn btn-secondary" style="width:150px">
				Patient History List
		</a>
	</div>
	</div>
</form>

@section Scripts
	{
	@{

		<partial name="_ValidationScriptsPartial" />
	}
	
}
