@{
    ViewData["Title"] = "Home Page";
}


<head>
	<title> Alfred Hospital </title>

	<link href="\wwwroot\css\homepage.css" type="text/css" rel="stylesheet">



</head>
<body>



	<div class="logo">
		<div>
			<table>
				<tr>
					<td width="600px" style="font-size:50px;font-family:Serif;"> <font color="#428bca"> Alfred  </font><font color="#000"> Hospital</font> </td>
					<td>
						<br> <br>
						
					</td>
				</tr>
			</table>
		</div>
	</div>




	<div class="container-grid">

		<br />
		<div>
			<font size=6px color="#000"> About Us </font>
			<p>
				We provide the most comprehensive range of healthcare services in Alfred through our latest technology and secure machines, a large network of community programs and 16 county-wide services.
				Being responsive and making good, transparent decisions are key principles of Alfred Health’s governance process.
			</p>
		</div>
		<br />
		<div>
			<font size=6px color="#428bca"> Misson Statement </font>  
			<p>
				Our mission is to serve Alfred residents for them to lead a happy and healthy lifestyle. We work together to drive innovation and change at the hospital and support the acquisition of cutting-edge technology, purchase new equipment, redevelop and expand our facilities so we can improve patient care, build our knowledge and share our learnings with the world.
		</p>
			</div>


	</div>

	<div class="container-grid">
		<div class="container-grid2">

		<div>
				<font size=6px color="#428bca" "> Contact Alfred Hospital </font>
			<p>
					<ul style="list-style-type:none;">
						<li>Phone Number: +1 6313037022</li>
						<li>Email: alfredhospital@gmail.com</li>
						<li>Hours: 8 am to 12 am All Week </li>
						<li>Address: 10 Upper College Drive, Alfred, NY</li>
						<li>Fax: 23585482347</li>
						<li>Mail To: PO number 42384</li>
					</ul>

			</p>
		</div>
		</div>
	
			<div class="container-grid2">
		<div>
				<font size=6px color="#428bca" "> Services   </font>
			<p>
					<ul style="list-style-type:none;">
						<li>Primary Care</li>
						<li>Health Check Up</li>
						<li>Scans</li>
						<li>Hospice Care</li>
						<li>Dental Services</li>
						<li>Scans</li>
					</ul>
				</p>
		</div>
		</div>


	</div>
	<footer class="footer text-muted bg-dark >
		<div class="container">
			&copy; Alfred Hospital - A safe place for all individuals
		</div>
	</footer>

</body>

